.information
    background: #2d3436

    .container
        padding: 20px 0px 20px 0px


        .coolproject
            margin-top: 40px
            display: flex
            justify-content: space-around
            flex-wrap: wrap

            div
                padding: 5px
                flex: 1
                min-width: 300px
    

#fire
    width: 25px
    height: 25px
    vertical-align: sub


.txt-white
    color: white
    margin: 0px
    padding: 5px
    font-size: 1em
    font-weight: 600px
    font-family: 'Source Sans Pro', sans-serif
    white-space: normal
    

.txt-center
    text-align: center

.txt-header
    font-weight: 900
    font-size: 25px
    letter-spacing: 1px
    background: linear-gradient(to right, #e74c3c, #f1c40f)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent