.information
    background: #2d3436

    .container
        padding: 20px 0px 20px 0px


        .coolproject
            display: flex

            div
                flex: 1
    


.txt-white
    color: white
    margin: 0px
    padding: 5px
