//table part
#body-title
    font-family: 'Permanent Marker', cursive
    font-weight: 400

.wrapper-table
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
   

#git-table
    border-collapse: collapse
    width: 30%
    thead > tr > th
        padding: 15px
        border: 1px solid #E0E0E0
        text-align: left
        font-family: lato
        font-size: 15px
        
    tbody > tr > td
        padding: 15px
        border: 1px solid #E0E0E0
        font-family: 'Source Sans Pro', sans-serif
        font-size: 15px
        font-weight: 500

    tbody > tr:nth-child(even)
        background: #E9EBEE

    tbody > tr > td:first-child
        white-space: nowrap

.expandButton
    display: none
    width: 20px !important
    height: 20px !important
    border-radius: 100%
    border: none
    background: #2196F3
    cursor: pointer
    vertical-align: middle
    outline: 0

.addSvg
    position: relative
    left: -8px
    top: -3px