//table part
#body-title
    font-family: 'Permanent Marker', cursive
    font-weight: 400 
    text-align: center
   
.full-table
    flex-direction: column
    width: 30%
    margin: auto

    #per_page
        font-family: lato
        font-size: 15px
        padding: 5px
        margin-bottom: 10px
        
    .pagination
        list-style-type: none
        padding: 0px
        margin: 0px
        
        li  
            float: right
            cursor: pointer
            display: inline-block
            padding: 5px
            border: 1px solid black
            border-radius: 5px
            margin: 10px 3px 0px 0px
        
    .pagination::after
        content: ""
        clear: both
        display: table


#git-table
    border-collapse: collapse
   
    thead > tr > th
        padding: 15px
        border: 1px solid #E0E0E0
        text-align: left
        font-family: lato
        font-size: 15px
        
    tbody > tr > td
        padding: 15px
        border: 1px solid #E0E0E0
        font-family: 'Source Sans Pro', sans-serif
        font-size: 15px
        font-weight: 500

    tbody > tr:nth-child(even)
        background: #E9EBEE

    tbody > tr > td:first-child
        white-space: nowrap

.expandButton
    display: none
    width: 20px !important
    height: 20px !important
    border-radius: 100%
    border: none
    background: #2196F3
    cursor: pointer
    vertical-align: middle
    outline: 0

.addSvg
    position: relative
    left: -8px
    top: -3px