//table part
#body-title
    font-family: 'Permanent Marker', cursive
    font-weight: 400 
    text-align: center
   
.full-table 
    overflow: auto
    #per_page
        font-family: lato
        font-size: 15px
        padding: 5px
        margin-bottom: 10px
        
    .pagination
        list-style-type: none
        padding: 0px
        margin: 0px
        
        li  
            cursor: pointer
            display: inline-block
            padding: 6px 12px 6px 12px
            border: 1px solid black
            border-radius: 5px
            margin: 10px 3px 0px 0px
        #arrow
            width: 34px
            height: 32px
            padding: 6px
            border: none
            img
                vertical-align: middle
        
        .arrow-right
            transform: rotate(180deg)


    .pagination::after
        content: ""
        clear: both
        display: table


#git-table

    border-collapse: collapse
    width: 50%
   
    thead > tr > th
        white-space: pre-wrap
        padding: 15px
        border: 1px solid #E0E0E0
        text-align: left
        font-family: lato
        font-size: 15px
    
    // tbody > tr > td:first-child:before
    //     top: 15px
    //     left: 5px
    //     height: 14px
    //     width: 14px
    //     display: block
    //     position: absolute
    //     color: white
    //     border: 2px solid white
    //     border-radius: 14px
    //     box-shadow: 0 0 3px #444
    //     box-sizing: content-box
    //     text-align: center
    //     text-indent: 0 !important
    //     font-family: 'Courier New', Courier, monospace
    //     line-height: 14px
    //     content: '+'
    //     background-color: #31b131
        
    tbody > tr > td
        position: relative
        white-space: pre-wrap
        padding: 15px
        border: 1px solid #E0E0E0
        font-family: 'Source Sans Pro', sans-serif
        font-size: 15px
        font-weight: 500

    tbody > tr:nth-child(even)
        background: #E9EBEE

    tbody > tr > td:first-child
        padding-left: 30px
        white-space: nowrap

.expandButton
    display: none
    width: 20px !important
    height: 20px !important
    border-radius: 100%
    border: none
    background: #2196F3
    cursor: pointer
    vertical-align: middle
    outline: 0

.addSvg
    position: relative
    left: -8px
    top: -3px

@media (min-width: 0px)
    #git-table
        width: 95%
        margin: auto

        // thead > tr > th:nth-child(2), thead > tr > th:nth-child(3), thead > tr > th:nth-child(4), thead > tr > th:nth-child(5)
        //     display: none
        
        // tbody > tr > td:nth-child(2), tbody > tr > td:nth-child(3), tbody > tr > td:nth-child(4), tbody > tr > td:nth-child(5)
        //     display: none
  
@media (min-width: 321px)
    #git-table
        width: 95%
        margin: auto

        thead > tr > th:nth-child(2)
            display: table-cell
        
        tbody > tr > td:nth-child(2)
            display: table-cell

@media (min-width: 470px)
    #git-table
        width: 95%
        margin: auto

        thead > tr > th:nth-child(3)
            display: table-cell
        
        tbody > tr > td:nth-child(3)
            display: table-cell

@media (min-width: 680px)
    #git-table
        width: 95%
        margin: auto

        thead > tr > th:nth-child(4)
            display: table-cell
        
        tbody > tr > td:nth-child(4)
            display: table-cell

@media (min-width: 800px)
    #git-table
        width: 85%
        margin: auto

        thead > tr > th:nth-child(5)
            display: table-cell
        
        tbody > tr > td:nth-child(5)
            display: table-cell    

@media (min-width: 1250px)
    #git-table
        width: 60%
        margin: auto
@media (min-width: 1500px)
    #git-table
        width: 50%
        margin: auto