#contactForm 
    background: white
    position: absolute
    left: 50%
    top: 30%
    transform: translateX(-50%)
    padding: 20px
    border: 1px solid #2c3e50
    border-radius: 10px

    h1
        font-family: cursive
        display: block
        margin: 10px
        margin-left: 30px

    .info
        display: flex
        flex-wrap: wrap
        padding: 20px

        span
            flex: 1

        label
            font-family: lato
            font-weight: lighter
            font-size: 20px
            color: #95a5a6
            display: block
            padding: 0px 10px 0px 10px

        input  
            margin: 10px
            width: 98%
            outline: none
            border: none
            border-bottom: 1px solid black
    
    .message
        padding: 20px   

        label
            font-family: lato
            font-weight: lighter
            font-size: 20px
            color: #95a5a6
            display: block
            padding: 10px

        textarea  
            position: relative
            margin: 10px !important
            outline: none
            resize: vertical
            width: 100%
            border: none
            border-bottom: 1px solid black
            overflow: hidden
            min-height: 20px

.btn-submit
    background: linear-gradient(45deg, #FD7272, #f7f1e3)
    background-size: 300%
    background-position: left bottom
    transition: all .6s ease-out
    color: black
    cursor: pointer
    border: 2px solid black
    margin: 5px
    text-align: center
    display: inline-block
    padding: 5px 10px
    max-width: 150px
    white-space: nowrap
    position: relative
    left: 25px
    border-radius: 128px
    outline: 0px

.btn-submit:hover 
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    background-position: top right