.mainground
    background-image: url(bg.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    max-width: 100%
    height: 100vh
#intro
    position: absolute
    z-index: 1
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    
    
    .intro-text
        color: #f2f2f2
        font-family: sans-serif
        font-size: 3vh
    
.expand
    position: absolute
    bottom: 0px
    left: 50%
    transform: translate(-50%)
    
    .ic
        margin-left: 50%
        cursor: pointer

//table part
.wrapper-table
    width: 40%
    margin: auto
    white-space: normal
   

#git-table
    border-collapse: collapse
    width: 100%
    thead > tr > th
        padding: 15px
        text-align: left
        font-family: lato
        font-size: 15px
        
    tbody > tr > td
        padding: 15px
        border-top: 1px solid #E0E0E0

    tbody > tr > td:first-child
        white-space: nowrap

.expandButton
    display: none
    width: 20px !important
    height: 20px !important
    border-radius: 100%
    border: none
    background: #2196F3
    cursor: pointer
    vertical-align: middle
    outline: 0

.addSvg
    position: relative
    left: -8px
    top: -3px    


.resume
    font-family: lato
    background: #2d3436
    color: white
    > h1
        text-align: center
        margin: 10px

#resumeform
    width: 50vw
    margin: auto
    text-align: justify
    border: 4px solid #f1f2f6
    padding: 20px
    border-radius: 10px
    
    .head-res
        margin: 0px
    p
        font-size: 15px
        margin: 0px


a
    color: white
    font-weight: bold
    text-decoration: none
a:hover
    color: green



@media only screen and (max-width: 1138px) 
    .expandButton
        display: inline-block
    thead > tr > th:nth-child(5)
        display: none 
    tbody > tr > td:nth-child(5)
        display: none 

@media only screen and (max-width: 918px) 
    thead > tr > th:nth-child(4)
        display: none 
    tbody > tr > td:nth-child(4)
        display: none 

@media only screen and (max-width: 757px) 
    thead > tr > th:nth-child(3)
        display: none 
    tbody > tr > td:nth-child(3)
        display: none 

@media only screen and (max-width: 495px) 
    thead > tr > th:nth-child(2)
        display: none 
    tbody > tr > td:nth-child(2)
        display: none 
