.link
    text-decoration: none
    font-family: lato
    font-size: 18px !important
    font-weight: bold
    color: #2196f3
#navbar
    position: fixed
    top: 0px
    width: 100%
    z-index: 500

    #appbar
        background-color: transparent
        transition: background-color .5s 

@media screen and (max-width: 410px)
    #nav-select .link
        display: none
    #menu
        cursor: pointer
        display: block !important
        width: 30px
        height: 30px
    
.sideNav
    height: 100vh
    width: 100%
    position: fixed
    z-index: 1
    top: 56px
    left: 0
    background-color: #2c3e50
    overflow-x: hidden
    transition: 0.3s

    .sideLink
        display: block
        font-family: "Source Sans Pro", sans-serif
        font-weight: 900
        font-size: 25px
        padding: 10px
        color: #ecf0f1
        border-bottom: 2px solid #e67e22
